input[type="text"], input[type="email"], textarea {
  margin-top: 5px;
  width: 90%;
  padding: 10px;
  border: 1px solid #a5a5a5;
  font: 14px Arial, Helvetica, sans-serif;
  border-radius: 5px;
  height: 25px;
}

textarea {
  height: 75px;
}

input[type="button"], input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #aaa2a2;
  -webkit-box-shadow: inset 0px 1px 0px 0px #aaa2a2;
  box-shadow: inset 0px 1px 0px 0px #aaa2a2;
  background-color: #ba0000;
  border: 1px solid #6f0000;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 18px;
  text-decoration: none;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #281717;
}
.required {
  color: red;
}