nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background-color: #20212d;

}
.button {
  background-color: #20212d;
  border: none;
  padding: 5px 20px 5px 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.button:hover {
  background-color: #3e8e41;
}
.link-nav{
  font-family: arial;
  font-size: 18px;
}
a.link-nav:link {
  color: #ffffff;
}
a.link-nav:hover {
  color: #ffffff;
}
a.link-nav:visited {
  color: #ffffff;
}
#hamburger{
  display: none;
  font-size: 24px;
  text-align: right;
}
#hamburger-close{
  display: none;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
}
/* MEDIA QUERY SMALL */
@media screen and (max-width: 600px)
{
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  button{
    display: none;
  }
  #hamburger{
    display: block;
  }
}