header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content : space-between;
  background-image: url("../img/JeanLucDenbroeder-Designer-Webdeveloper.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  min-height: 250px;
}
#color-choice{
  align-self: flex-end;
  padding: 0px;
}
header ul{
  margin: 0px;
}
header ul li{
  display: block;
  display: inline-block;
  list-style: none; /* pour enlever les puces sur IE7 */
  margin: 1px;
  padding: 3px 6px;
  background-color: #101010;
  font-size: 10px;
  color: #909090;
  text-decoration: none;
  border-radius: 50%;
}
#information{
  padding: 0px 20px 10px 20px;
  align-self: flex-end;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px 0px 0px 0px;
  text-align: right;
}
.name, .tel {
  font: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #4b0000; }