html, body {
  width: 100%;
  height:100vh;
	margin: 0 auto;
   display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgb(249, 247, 196);
}

.container {

  width: 80%;
    max-width: 800px;
  background-color: #c3b9b9;


    }

.row1 {
  background-color: #e3e6b8;
    }

.row2 {

  background-color: #cfa2a2;

  
    }
.row3 {
  background-color: #a4cba2;
    }
